<div class="main-container">
    <div class="cartgory-details">
        <div class="top-line"> 
            <img src="<%= @category.icon %>" alt="icon" class="circle responsive-img">
            <h5><%= @category.name %></h5>
        </div>
        <p class="description">
            <%= @category.description %>
        </p>
    </div>
    <hr />
    <div class="game-container center-align">
        <%= render partial: 'list', collection: @games, as: :game %>
        <% total = 0 %>
        <% category.games.each do |game| %>
            <% total += game.amount %>
        <% end %>
        <p class="left-align">Grand Total <span class="money"><%= number_to_currency(total) %></span></p>
        <a class="waves-effect waves-light btn-small hoverable" href="/categories/<%=category.id%>/games/new"><i class="material-icons right">create</i>Add game</a>
    </div>
</div>